Django>=5.2
djangorestframework
django-cors-headers
gunicorn
whitenoise

langchain
langchain-groq
langchain-core
langchain-qdrant
qdrant-client

python-dotenv
pypdf
tavily-python

sentence-transformers
