Django==5.2.9
djangorestframework
django-cors-headers
gunicorn
whitenoise

langchain
langchain-core
langchain-community
langchain-qdrant
langchain-groq
langchain-cohere

qdrant-client

cohere
pypdf
python-dotenv
tavily-python
httpx