Django==5.2.9
djangorestframework
django-cors-headers
gunicorn
whitenoise

langchain
langchain-core
langchain-community
langchain-qdrant
langchain-groq

qdrant-client
sentence-transformers

torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

pypdf
python-dotenv
tavily-python
httpx